.isCarmaster .vcar .sp-back{display: none;}
.vcar{height:100%;}
.vcar .sp-back{position:fixed;z-index:1000;left:0;top:0;  display: block; height: 50px; width: 50px; color: #878787; font-weight: 300; font-size: 14px; line-height: 50px;background:#2a2d33;}
.vcar .sp-back:before{margin-left:-14px !important;}
.vcar .sp-back:active{background:#efefef;}

.sp-transition {
  transition: all .5s ease;
  opacity:1;
}
.sp-enter, .sp-leave{
  opacity: 0;
}
/*ico*/
.vcar .ib{
    display: inline-block;
    width: 80px;
    height: 54px;
    overflow: hidden;
    background: url(../imgs/ico_bank.png) no-repeat;
    background-size: 80px 166px;
    text-indent: -9999px;
}
.vcar .ib-boc{
    background-position: 0 0;
}
.vcar .ib-ccb{
    background-position: 0 -56px;
}
.vcar .ib-icbc{
    background-position: 0 -112px;
}

.vcar .iserv, .iins{
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
}
.vcar .iserv{
    width: 80px;
    height: 80px;
    background-image: url(../imgs/ico_service.png);
    background-size: 320px 160px;
}
.vcar .iins{
    width: 110px;
    height: 66px;
    /*background-image: url(../imgs/ico_insurance.png);*/
    background-size: 110px 268px;
}
.vcar .iserv2{
    background-position: -80px 0;
}
.vcar .iserv3{
    background-position: -160px 0;
}
.vcar .iserv4{
    background-position: -240px 0;
}
.vcar .iserv5{
    background-position: 0 -80px;
}
.vcar .iserv6{
    background-position: -80px -80px;
}
.vcar .iserv7{
    background-position: -160px -80px;
}
.vcar .iserv8{
    background-position: -240px -80px;
}
.vcar .iins2{
    background-position: 0 -68px;
}
.vcar .iins3{
    background-position: 0 -136px;
}
.vcar .iins4{
    background-position: 0 -204px;
}



.vcar .ico_checkbox,
.vcar .ico_checkbox2{
    position: relative;
    display: inline-block;
    border: 1px solid #cbcbcb;
}
.vcar .ico_checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.vcar .ico_checkbox2 {
    width: 15px;
    height: 15px;
    vertical-align: -4px;
    margin-right: 3px;
}
.vcar .ico_checkbox-on {
    background-color: #f6d052;
    border-color: #f6d052;
}
.vcar .ico_checkbox2-on {
    background-color: #fff;
}
.vcar .ico_checkbox-on:before,
.vcar .ico_checkbox2-on:before,
.vcar .ico_checkbox2-disabled:before,
.vcar .ico_del:before,
.vcar .ico_add{
    background: url(../imgs/ico_sprite.png) no-repeat;
    background-size: 96px 177px;
}
.vcar .ico_checkbox-on:before,
.vcar .ico_checkbox2-on:before,
.vcar .ico_checkbox2-disabled:before,
.vcar .ico_del:before{
    content: "";
    position: absolute;
}
.vcar .ico_checkbox-on:before,
.vcar .ico_checkbox2-on:before,
.vcar .ico_checkbox2-disabled:before {
    width: 15px;
    height: 10px;
    background-position: -20px -100px;
}
.vcar .ico_checkbox-on:before {
    left: 3px;
    top: 6px;
}
.vcar .ico_checkbox2-on:before,
.vcar .ico_checkbox2-disabled:before {
    left: 0;
    top: 3px;
}
.vcar .ico_del:before{
    top: 50%;
    left: 50%;
    width: 19px;
    height: 19px;
    margin-top: -10px;
    margin-left: -9px;
    background-position: -35px -145px;
}
.vcar .ico_add{
    display: inline-block;
    width: 15px;
    height: 17px;
    background-position: -79px 0;
}
.vcar .ico_txt{
    width: 324px;
    height: 42px;
    margin: 0 auto 10px;
    background: url(../imgs/ico_txt.png) center center no-repeat;
    background-size: 324px 42px;
}
.vcar .logo_bank{
    display: block;
    height: 70px;
    max-width: 100%;
    margin: 0 auto;
}
.vcar .mainbtm .fixbtm{
    /*position: absolute;*/
}
.vcar .fixbtm .btn_save{
    position: absolute;
    right: 11px;
    top: 6px;
    display: inline-block;
    height: 30px;
    padding:0 6px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #F8C522;
}
.vcar .fixbtm .btn_save-1{
    background-color: #dadada;
}
.vcar .item_detail{
    padding: 8px 24px;
}
.vcar .item_detail h2{
    height: 36px;
    margin-bottom: 6px;
    line-height: 36px;
    font-weight: normal;
}
.vcar .item_detail h3{
    height: 32px;
    line-height: 32px;
    font-weight: normal;
}
.vcar .item_detail ul{
    margin-bottom: 10px;
}
.vcar .item_detail ul,
.vcar .item_detail li{
    font-size: 14px;
    list-style-type: decimal;
}
.vcar .item_arr-right .item_area-click{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 32px;
}
.vcar .item_right .col_red2 .i2{
    vertical-align: -1px;
}
.vcar .item .item_left-ico{
    position: relative;
    padding-left: 24px;
}
.vcar .item_left-ico .ico_checkbox2{
    position: absolute;
    top: 2px;
    left: 0;
    background-color: #fff;
}
.vcar .item_left-ico .ico_checkbox2-on{
    border-color: #F54F27;
    background-color: #E2C560;
}
.vcar .ico_checkbox2.ico_checkbox2-disabled{
    background-color: #eee;
}
.vcar .option_wrap{
    padding: 4px 24px;
    border-bottom: 1px solid #E3E3E3;
}
.vcar .service_wrap{
    padding: 0;
}
.vcar .option_wrap .option{
    float: left;
    padding: 4px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vcar .option_wrap .option_col2{
    width: 50%;
}
.vcar .option_wrap .option_col3{
    width: 33.33333%;
}
.vcar .option_wrap .option_col4{
    width: 25%;
}
.vcar .option_wrap1 .option{
    border:1px solid #f9f9f9;
}
.vcar .option_wrap1 .option-on{
    border-color: #f6d052;
}
.vcar .option span{
    display: inline-block;
    height: 20px;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.vcar .option-on span{
    background-color: #f6d052;
}
.vcar .pak_info .pak_slogan{
    padding:4px 18px 4px 24px;
    line-height: 18px;
    border-bottom: 1px solid #E3E3E3;
}

.vcar .pak_prod .prod_item{
    position: relative;
    border-bottom: 1px solid #E3E3E3;
}
.vcar .prod_item .ico_del{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 44px;
    background-color: #4A4D52;
}
.vcar .prod_item .prod_item-main{
    display:block;
    position: relative;
    height: 70px;
    padding: 10px 30px 10px 104px;
    overflow: hidden;
    background-color: #f9f9f9;
    -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.vcar .prod_item .prod_item-main-left{
-webkit-transform: translate(-44px,0);
  -moz-transform: translate(-44px,0);
  -ms-transform: translate(-44px,0);
  transform: translate(-44px,0);
}
.vcar .prod_item .item_arr-right:before{
    right: 14px;
}
.vcar .prod_item-main .prod_pic{
    position: absolute;
    top:10px;
    left: 24px;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.vcar .prod_pic img{
    width: 70px;
    height: 70px;
}
.vcar .prod_pic .ico_checkbox2{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    background-color: #fff;
}
.vcar .prod_pic .ico_checkbox2-on{
    border-color: #F54F27;
    background-color: #E2C560;
}
.vcar .prod_item-main .prod_name{
    font-weight: normal;
}
.vcar .prod_item-main .prod_desc{
    height: 32px;
    line-height: 16px;
    overflow: hidden;
}
.vcar .prod_item-main .prod_price{
    position: absolute;
    bottom: 4px;
    right: 18px;
    text-align: right;
}
.vcar .orderTrack{
    padding:250px 0 0;
    text-align: center;
    font-size: 16px;
    background: url("../imgs/nodata.jpg") no-repeat center 20px;
    background-size:240px auto;
}
.vcar .addCustomize{
    display: block;
    background-color:#ffa200;
    margin:10px 18px 10px 24px;
    padding:10px 0 10px 24px;
    /*border:1px solid #ccc;*/
    font-size:16px;
    border-radius:4px;
}
.vcar .addCustomize .ico_add{
    margin-right: 4px;
    vertical-align: -2px;
}
.vcar .accessory_sum{
    line-height: 44px;
    padding-right: 18px;
    text-align: right;
    font-size: 16px;
}

@media screen and (max-width: 320px){
    .vcar .accessory_sum-left{
        font-size: 0.9rem;
    }
}
.var .a-link{display:block;}
.vcar .accessory_sum .price{
    margin-left: 4px;
}
.vcar .accessory_sum-left{
    text-align: left;
    padding-right: 8px;
    padding-left: 15px;
}
.vcar .serv_intro{
    padding-top: 8px;
    background-color: #f9f9f9;
}
.vcar .serv_intro .serv_info{
    padding: 0 12px 0 15px;
}
.vcar .service{
    background-color: #fff;
}
.vcar .service .item{
    padding-left: 15px;
    padding-right: 12px;
}
.vcar .service .accessory_sum{
    padding-right: 12px;
}
.vcar .service .accessory_sum .price{
    font-size: 18px;
}
.vcar .service .item_detail{
    padding: 0 12px 0 15px;
}
.vcar .service .item_detail ul,
.vcar .service .item_detail li{
    list-style-position: inside;
}
.vcar .service .item_arr-right:before,
.vcar .insurance .item_arr-right:before{
    right: 6px;
}
.vcar .service .item_arr-up:before,
.vcar .service .item_arr-down:before,
.vcar .insurance .item_arr-up:before,
.vcar .insurance .item_arr-down:before{
    right: 10px;
}
.vcar .service .item2{
    padding-right: 0;
    background-color: #f9f9f9;
}
.vcar .item2 .item_left,
.vcar .item2 .item_right{
    font-size: 13px;
}
.vcar .service .item2 .item_right{
    position: relative;
    padding-right: 12px;
}
.vcar .item2 .item_right .ui_adjust{
    position: absolute;
    right: 50px;
    top: 12px;
}
.vcar .item2 .item_right .switch_box{
    position: absolute;
    right: 12px;
    top: 7px;
}
.vcar .insurance .item,
.vcar .insurance .item_title{
    padding-left: 15px;
    padding-right: 12px;
}
.vcar .insurance .item_detail{
    padding: 8px 12px 8px 15px;
    border-bottom: 1px solid #E3E3E3;
    background-color: #f9f9f9;
}
.vcar .insurance .item_detail-note{
    background-color: #fff;
}
.vcar .insurance .txt_note{
    padding: 4px 18px 4px 24px;
}
.vcar .ins_detl .item{
    border-top: 1px solid #E3E3E3;
}
.vcar .ins_detl .item + .item{
    border-top: none;
}
.vcar .ins_detl .item-note{
    height: auto;
    margin: 10px 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.vcar .ins_detl .item_detail h2{
    height: 24px;
    margin-bottom: 0;
    line-height: 24px;
    font-weight: bold;
}
.vcar .intro_sec{
    padding: 8px 0;
}
.vcar .intro_sec + .intro_sec{
    border-top: 1px dashed #E3E3E3;
}
.vcar .intro_sec .intro_sec_tlt{
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.vcar .intro_sec .intro_sec_lead{
    margin-bottom: 8px;
    padding:0 24px;
    text-indent: 2em;
}
.vcar .intro_sec .item_detail ul{
    margin-bottom: 0;
    padding-left: 2em;
}
.vcar .intro_sec .item_detail li{
    list-style-type: disc;
}
.vcar .item3{
    height: auto;
    background-color: #f9f9f9;
}
.vcar .item_wrap .item3{
    background-color: #fff;
}
.vcar .item3 .item_left{
    position: relative;
    height: 68px;
}
.vcar .item_left .tag-txt{
    position: absolute;
    top: 1px;
    right: -1px;
    height: 14px;
    width: 52px;
    line-height: 14px;
    font-size: 12px;
    color: #262626;
    text-align: center;
    background-color: #f6d052;
}
.vcar .item3 .item_right{
    height: 68px;
    padding: 14px 10px;
}
.vcar .item3 .item_right .txt1{
    height: 36px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}
.vcar .item3 .iins{
    display: block;
    width: 100%;
    border:1px solid #fff;
    overflow: hidden;
}
.vcar .item3 .iins img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.vcar .item3 .option-on .iins{
    border-color: #EC7C44;
}
.vcar .item4 .item_right{
    padding-right: 0;
}
.vcar .item_col1 .item_left{
    width: 30%;
}
.vcar .item_col1 .item_right{
    width: 70%;
}
.vcar .item_col2 .item_left{
    width: 70%;
}
.vcar .item_col2 .item_right{
    width: 30%;
}
.vcar .package_dtl{
    margin-top: -1px;
    border-top: 1px solid #CCC;
}
.vcar .package_dtl .item_detail{
    background-color: #fff;
}
.vcar .package_dtl .item2 .item_right{
    padding-right: 0;
}
.vcar .package_dtl .item_left small{
    margin-left: 6px;
}
.vcar .none-bdtop{
    border-top: none;
}
.vcar .btn_item1{
    background-color: #fff3eb;
}
.vcar .item_unfold .option_list{
    margin: 8px 0;
}
.vcar .option_list li{
    display: inline-block;
    height: 30px;
    margin-right: 6px;
    padding: 0px 12px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 15px;
}
.vcar .option_list .option-on{
    background-color: #f6d052;
}
.vcar .item_unfold{
    padding: 0 12px 0 15px;
    font-size: 15px;
    background-color: #f8f8f8;
}
.vcar .item_unfold .item_unfold-title{
    font-size: 18px;
    margin:12px 0 4px;
}
.vcar .item_unfold ul,
.vcar .item_unfold li{
    list-style-type: disc;
}
.vcar .item_unfold ul{
    margin-left: 2em;
}
.vcar .img_wrap{
    overflow: hidden;
    text-align: center;
    font-size: 0;
    border-bottom: 1px solid #E3E3E3;
}
.vcar .img_wrap img{
    display: block;
    /*max-height: 200px;*/
    width: 100%;
    margin: 0 auto;
}
.vcar .item_detail1 p{
    /*margin-bottom: 8px;
    padding: 0 12px 0 15px;*/
}
.vcar .item_detail1 p img{
    max-width: 100% !important;
    height: auto !important;
    vertical-align:top;
}
.vcar .item_detail1 .item_detail1-title{
    height: 40px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 40px;
}
.vcar .item_detail1 .img_wrap{
    border-bottom-width: 0;
}
.vcar .lg-txt{
    display: block;
    margin: 0 50px;
}
/*加减控件*/
.vcar .ui_adjust {
    height: 18px;
    color: #919191;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.vcar .ui_adjust .ui_adjust_minus,
.vcar .ui_adjust .ui_adjust_plus,
.vcar .ui_adjust .ui_adjust_view {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.vcar .ui_adjust .ui_adjust_minus,
.vcar .ui_adjust .ui_adjust_plus {
    cursor: pointer;
    border: 1px solid #d8d8d8;
    background: #ededed;
}

.vcar .ui_adjust .ui_adjust_minus.disabled,
.vcar .ui_adjust .ui_adjust_plus.disabled {
    cursor: default;
    background-color: #fff;
    border-color: #d8d8d8;
}

.vcar .ui_adjust .ui_adjust_minus.disabled::before,
.vcar .ui_adjust .ui_adjust_minus.disabled::after,
.vcar .ui_adjust .ui_adjust_plus.disabled::before,
.vcar .ui_adjust .ui_adjust_plus.disabled::after {
    background-color: #d8d8d8;
}

.vcar .ui_adjust .ui_adjust_minus:active,
.vcar .ui_adjust .ui_adjust_plus:active {
    background-color: #d8d8d8;
}

.vcar .ui_adjust .ui_adjust_minus:active::before,
.vcar .ui_adjust .ui_adjust_minus:active::after,
.vcar .ui_adjust .ui_adjust_plus:active::before,
.vcar .ui_adjust .ui_adjust_plus:active::after {
    background-color: #fff;
}

.vcar .ui_adjust .ui_adjust_minus {
    border-right: none;
    position: relative;
}

.vcar .ui_adjust .ui_adjust_minus::before {
    content: "";
    height: 2px;
    width: 10px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.vcar .ui_adjust .ui_adjust_minus + .ui_adjust_plus {
    border-left: 1px solid #d8d8d8;
}

.vcar .ui_adjust .ui_adjust_plus {
    position: relative;
    border-left: none;
}

.vcar .ui_adjust .ui_adjust_plus::before,
.vcar .ui_adjust .ui_adjust_plus::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.vcar .ui_adjust .ui_adjust_plus::after {
    width: 2px;
    height: 10px;
}

.vcar .ui_adjust .ui_adjust_view {
    width: 60px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
}
/*ios on-off control*/
.vcar .switch_box {
    position: relative;
    width: 72px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 14px;
    background-color: #ccc;
    cursor: pointer;
    -webkit-transition: 200ms background-color ease-in;
    -moz-transition: 200ms background-color ease-in;
    transition: 200ms background-color ease-in;
}

.vcar .switch_box.switch_box-on {
    background-color: #37d28e;
}
.vcar .switch_box:before,
.vcar .switch_box.switch_box-on:before{
    z-index: 1;
    position: absolute;
    top: 0;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
}
.vcar .switch_box:before{
    content: "否";
    right: 27px;
    text-indent: 0;
}
.vcar .switch_box-on1:before{
    content: "是";
    right: 30px;
    text-indent: 0;
}
.vcar .switch_box.switch_box-on:before {
    content: "是";
    left: 27px;
    text-align: left;
}
.vcar .switch_box .switch_scroll {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transition: 200ms left ease-in;
    -ms-transition: 200ms left ease-in;
    -moz-transition: 200ms left ease-in;
    transition: 200ms left ease-in;
}
.vcar .switch_box-on1 .switch_scroll,
.vcar .switch_box.switch_box-on .switch_scroll {
    left: 46px;
}
.vcar .switch_box-txt{
    line-height: 28px;
    text-indent: 80px;
    color: #b2b2b2;
}
.vcar .switch_box-txt.switch_box-on,
.vcar .switch_box-txt.switch_box-on1{
    color: #595959;
}

/*
    购车意向
    weijing
    2015年10月12日12:08:50
*/
.vcar .intent{
    margin:10px 0 0;
    background-color: #fff;
    padding:0 10px;
    overflow: hidden;
}
.vcar .intent ul{
    overflow: hidden;
}
.vcar .intent ul li{
    padding:10px 5px;
     border-bottom: 1px solid #e0e0e0;
}
.vcar .intent-status{
    width: 70px;
    color: #007aff;
    float: left;
    font-size: 0.8rem;
}

.vcar .intent-status p.order-cancle{
    color: #999;
}
.vcar .intent-status img{
    width: 100%;
}
.vcar .intent-info{
    margin:0 0 0 80px;
}
.vcar .intent-info span{
    color:#999;
}
.vcar .intent-info h5{
    color: #444;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.vcar .intent-info p{
    color: #444;
    line-height: 22px;
    color: #333;

}

.vcar .intent-info p:last-child{
       text-align: right;
}
.vcar .intent-info p:last-child span{
    width: 100%;
    display: block;
    text-align: left;
}
.vcar .intent-info p span:after{
    content: "";
    clear: both;
}

.vcar .intent-info a{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #5b5959;
    margin:0 2px;
    width: 70px;
    text-align: center;
    font-size: 0.8rem;
}
.vcar .intent-info em{
    color: #ff4c66;
    font-size: 1rem;
}
.vcar .intent .nodata{
    line-height: 50px;
    text-align: center;
    font-size: 1rem;
}
.vcar .intent .nodata a{
    color: #f00;
}